/* Основни стилове */
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: #222;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

/* Dark Mode */
body.dark {
    background: #1e1e1e;
    color: #eee;
}

body.dark input,
body.dark button {
    background: #333;
    color: white;
    border: 1px solid #555;
}

#themeToggle {
    margin-bottom: 20px;
}

/* Поле за въвеждане на задача */
.input-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.input-area input {
